<%= form_tag login_path do %>
	<div class="panel coupon_list">
        <!--One text-->
        <div class="row">
            <div class="small-3 large-3 columns">
        		<label for="left-label" class="left inline" id="ml-email_user" name="ml-email_user">Email</label>
        	</div>
        	<div class="small-9 large-9 columns">
            	<!--<input id="email" name="email" type="text">-->
            	<%= text_field_tag :staff_email%>
        	</div>
       	</div>
        <!--Two text-->
        <div class="row">
            <div class="small-3 large-3 columns">
                <label for="left-label" class="left inline" id="ml-password" name="ml-password">Password</label>
            </div>
            <div class="small-9 large-9 columns">
                <!--<input id="password" name="password" type="password">-->
                <%= password_field_tag :password %>
            </div>
        </div>        
        <div class="row">
            <div class="small-8 large-8 columns">
                <div class="text-left"><p class="font_text"></p></div>
            </div>
            <div class="small-4 large-4 columns text-right">
                <!--<button class="button color_button small " type="submit" id="ml-btn_login" name="ml-btn_login">Login</button>-->
                <%= submit_tag "Login" , class: 'button color_button small'%>
            </div>     
        </div>     
        <div class="row">
            <div class="small-3 large-3 columns">
                <label></label>
            </div>
         	<div class="small-9 large-9 columns text-left">
            	<a href="http://vmio.e-demo.jp/cts/login/forgot" id="ml-forgot_password">Forgot password</a>
         	</div>
        </div>    
    </div><!-- /panel -->
<% end %>